/* Just in case you came here for the beautiful and stolen CSS layout, here it is:

.outer {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    height: 100vh;
    font-size: 14px;
    font-family: monospace;
    font-weight: light;
}

.inner-1-and-two {
    overflow: auto;
    background: rgb(48, 48, 48);
    width: 48%;
    max-height: 95vh;
    padding: 1vh 1vw;
    box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.2);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /** border: 1px red solid; /**for debugging**/
}

.bg {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    height: 100vh;
    font-weight: light;
}

.code {
    overflow: auto;
    background: rgb(48, 48, 48);
    width: 30%;
    max-height: 95vh;
    padding: 0.5vh 1vw;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: monospace;
    box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.2);
    /**this is a neat property. It allows us to give a shadow to a given <div>**/
    white-space: pre-wrap;
    /**reminder: Sequences of whitespace will collapse into a single whitespace. Text will never wrap to the next line. The text continues on the same line until a <br> tag is encountered.**/
    outline: 0;
    margin: 1vh 0.5vw;
}

.game {
    overflow: auto;
    background: rgb(48, 48, 48);
    width: 60%;
    max-height: 95vh;
    padding: 1vh 1vw;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: monospace;
    box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.2);
    white-space: pre-wrap;
    outline: 0;
    margin: 1vh 0.5vw;
}