* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'monospace';
  font-size: 20px;
  color: #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  padding: 1vh;
  background-color: #000000;
}

.item-s {
  width: 5vh;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin-left: 5vh;
  margin-right: 5vh;
  transition: transform 1s, filter .5s ease-out;
}

.item-s:hover{
  transform: scale(1.5);
}

.main {
  display: flex;
  height:76vh;
  line-height: 76vh;
  text-align: space-between;
  background-color: #1f2937;
}

.code {
  overflow: auto;
  background: rgb(48, 48, 48);
  width: 35%;
  max-height: 95vh;
  padding: 0.5vh 1vw;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: monospace;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.2);
  /**this is a neat property. It allows us to give a shadow to a given <div>**/
  white-space: pre-wrap;
  /**reminder: Sequences of whitespace will collapse into a single whitespace. Text will never wrap to the next line. The text continues on the same line until a <br> tag is encountered.**/
  outline: 0;
  margin: 1vh 0.5vw;
  text-align: center;
}

.console {
  overflow: auto;
  background: rgb(48, 48, 48);
  width: 65%;
  max-height: 95vh;
  padding: 1vh 1vw;
  border: 1px solid #ccc;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.2);
  margin: 1vh 0.5vw;
  font-size: 14px;
  font-family: monospace;
  white-space: pre-wrap;
  outline: 0;
}

.footer{
  height: 12vh;
  background-color: black;
  font-size: 15px;
  text-align: center;
  line-height: 12vh;
}